* {
  box-sizing: border-box;
}

html, body, .app {
  height: 100%;
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
}

p {
  font-size: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: #161616;
}

.input {
  display: block;
  width: 720px;
  padding: 15px;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 8px;
  margin: 0 auto;
  font-size: 17px;
  border-color: #fff;
  color: #fff;
  outline: none;
}

.input:disabled {
  color: darkgray;
  opacity: .7;
}

.input:focus {
  border-color: #b05fc1;
}

.button {
  display: inline-block;
  margin: 20px 0 20px;
  background: #a64daa;
  color: #fff;
  border-radius: 6px;
  padding: 15px 22px;
  font-size: 16px;;
  outline: none;
  border: none;
  transition: background .2s ease;
  cursor: pointer;
}

.button:hover {
  background: #85148a;
}

.button:disabled {
  background: darkgray;
  opacity: .7;
}

.error {
  color: #d46565;
  display: none;
}

.error.show {
  display: block;
}

.image-container {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  width: 1280px;
  margin: 0 auto;
  border-radius: 10px;
}

.image-container .image {
  width: 100%;
}

.loading {
  display: none;
  margin: 25px auto;
  font-size: 20px;
}

.loading.show {
  display: block;
}

.spinner {
  display: inline-block;
  margin-top: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 4px solid gray;
  border-left-color: #d368d8;
  transform: rotate(0deg);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(360deg);
  }
}
